@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600&display=swap');
nav {
	font-family: 'Encode Sans SC', sans-serif;
	letter-spacing: 0.1rem;
}

nav h3 {
	color: green;
}
@media (max-width: 768px) {
  nav h3 {
    font-size: medium;
  }
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}